<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handwritten Digit Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Handwritten Digit Recognition</h1>
    <div id="canvas-container">
        <canvas id="canvas"></canvas>
        <button onclick="clearCanvas()">Clear</button>
    </div>

    <button id="predict-btn" onclick="predictDigit()">Predict Digit</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
